@model TechAconchego.Models.Manutencao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manutencao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProblema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProblema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alojamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alojamento.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
